body {
    font-size: 20px;
    background-image: url(../img/fundo.jpg);
}


/* CSS para id se usa # */


/* CSS para class se usa . */

footer#rodape{
    font-size: 14px;
    position: relative;
    bottom:0; 
    width:100%;
}


img {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}

.modal {
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
